.news-block{
    width: 55vh;
    height: 28vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 3vh;
    overflow: hidden;
}

.news-header-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: max-content;
    margin-bottom: 10px;
}

.git-logo{
    max-width: 39px;
    max-height: 39px;
    margin-right: 10px;
}

h2{
    margin: 0;
}

.news-text{
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.4;
}

.menu{
    margin-left: auto;
    max-height: 30px;
    cursor: pointer;
}